@use '../utils/vars';

.button {
  box-sizing: border-box;
  text-align: center;
  border-radius: 40px;
  font-weight: 700;
  text-decoration: none;
  height: 56px;
  line-height: 50px;
  border: 3px solid vars.$main-font;
  background-color: vars.$main-font;
  color: vars.$main-bgcolor;

  &--wide {
    width: 280px;
  }

  &:hover {
    background-color: vars.$main-bgcolor;
    color: vars.$main-font;
  }

  &:active {
    background-color: vars.$button-active;
    border-color: vars.$button-active;
    color: vars.$main-bgcolor;
  }
}
