.buy {
  width: 100%;
  padding: 7px 0;

  &__item {
    font-weight: 700;
    line-height: 22px;
  }

  &--text {
    line-height: 26px;
  }
}

@media screen and (min-width: 744px) {
  .buy {
    grid-area: 1 / -4 / 1 / -1;

    &--text {
      grid-area: 2 / -4 / 2 / -1;
      line-height: 28px;
    }
  }
}
