.footer {
  min-height: 200px;
  max-height: 400px;
  width: 100%;
  align-self: flex-end;
  background-image: url('../images/background_bottom.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  aspect-ratio: 1.8 / 1;
}
