.header {
  min-height: 100vh;
  padding: 25px 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/background_top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image;
}

@media screen and (min-width: 744px) {
  .header {
    padding: 30px 74px 60px;
  }
}
