.header {
  min-height: 100vh;
  padding: 25px 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/background_top.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image;

  @include for-mobile-wide {
    padding: 30px 74px 60px;

    @include for-desktop {
      padding: 35px 120px 70px;
    }
  }
}
