@use '../utils/vars';

.main {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    padding: 50px 0;
    max-width: 400px;
    box-sizing: border-box;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--buy {
      gap: 20px;
    }

    &--contact {
      width: 100%;
    }
  }

  &__link {
    color: vars.$main-font;
    text-decoration: none;

    // font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 744px) {
  .main {
    padding: 74px;

    &__section {
      max-width: 600px;
      gap: 65px;
      &--buy,
      &--contact {
        align-self: center;
        align-items: flex-start;
        display: grid;
        grid-template: repeat(2, auto) / repeat(6, 80px);
        gap: 20px 24px;
        padding: 55px 0;
      }
      &--contact {
        row-gap: 40px;
        padding-bottom: 35px;
      }
    }
  }
}
