@use '../utils/vars';

.main {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    padding: 50px 0;
    max-width: 400px;
    box-sizing: border-box;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--buy-direct {
      gap: 20px;
    }

    &--contact {
      width: 100%;
    }
  }

  &__link {
    color: vars.$main-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    box-sizing: border-box;
    text-align: center;
    border-radius: 40px;
    font-weight: 700;
    text-decoration: none;
    height: 56px;
    line-height: 50px;
    border: 3px solid vars.$main-font;
    background-color: vars.$main-font;
    color: vars.$main-bgcolor;

    &--wide {
      width: 280px;
    }

    &:hover {
      background-color: vars.$main-bgcolor;
      color: vars.$main-font;
    }

    &:active {
      background-color: vars.$button-active;
      border-color: vars.$button-active;
      color: vars.$main-bgcolor;
    }
  }
}
