@use '../utils/vars';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: vars.$menu-bgcolor;

  transition: transform 500ms ease-in-out;

  &:target {
    transform: translateY(0);
  }

  &__list {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 60px;
  }

  &__item {
    font-size: 22px;
    margin-bottom: 26px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: vars.$main-font;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: default;
      border-bottom: 1px solid vars.$main-font;
    }
  }

  &__phone {
    letter-spacing: 0;
    margin-bottom: 20px;
  }

  &__call {
    font-size: 12px;
    text-decoration: none;
    color: vars.$main-font;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: default;
      border-bottom: 1px solid vars.$main-font;
    }
  }
}
