@use '../utils/vars';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 0 0;
  height: 24px;

  &__logo {
    height: 16px;
    width: 125px;
  }

  &__menu {
    display: flex;
    gap: 24px;
    align-items: center;

    &--icon {
      width: 16px;
    }
  }
}
