@use '../utils/vars';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;

  &__logo {
    height: 16px;
    width: 125px;
  }

  &__icons {
    display: flex;
    height: 24px;
    gap: 24px;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 0 3px;
    width: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--phone {
      background-image: url('../images/phone.svg');
      height: 18px;
    }

    &--burger {
      background-image: url('../images/menu.svg');
      height: 12px;

      &:hover {
        background-image: url('../images/menu_hover.svg');
      }
    }

    &--cross {
      background-image: url('../images/cross.svg');
      width: 16px;
      height: 16px;
      padding: 0 4px;
    }
  }

  &__label {
    &:not(:focus, :active) {
      @include visually-hidden;
    }
  }
}

@media screen and (min-width: 744px) {
  .navigation {
    &__logo {
      width: 188px;
      height: 24px;
    }

    &__icons {
      height: 32px;
      gap: 32px;
    }

    &__link {
      padding: 0 4px;
      width: 24px;

      &--phone {
        height: 24px;
      }

      &--burger {
        height: 16px;
      }

      &--cross {
        width: 22px;
        height: 22px;
        padding: 0 5px;
      }
    }
  }
}
