@use '../utils/mixins' as *;

.recomendet {
  max-width: 400px;
  text-decoration: none;

  @include for-desktop {
    grid-column: span 4;
  }

  &__image {
    width: 100%;
    margin-bottom: 30px;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__price {
    font-weight: 700;
    margin-top: 20px;
  }
}
