@use '../utils/vars';

.title {
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
  letter-spacing: -1.5px;
  line-height: 100%;

  &__main {
    display: block;
    font-weight: 700;
    font-style: normal;
    text-align: center;

    &--buy {
      text-align: left;
      align-self: flex-start;
    }
  }

  &--header {
    &::before {
      content: '';
      display: block;
      width: 48px;
      height: 58px;
      background-image: url('../images/sound_waves.svg');
    }
  }
}

@media screen and (min-width: 744px) {
  .title {
    font-size: 40px;

    &__main {
      &--buy {
        margin-top: 15px;
        grid-area: 1 / 1 / 1 / 4;
      }
      &--contact {
        grid-area: 1 / 1 / 1 / -1;
      }
    }
  }
}
