@import './utils';
@import './blocks';

html {
  scroll-behavior: smooth;
}

body {
  background: $main-bgcolor;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: $main-font;
  font-size: 16px;
  font-weight: 400;
}
