@use './utils/vars';
@use './utils';
@use './blocks';

html {
  scroll-behavior: smooth;
}

body {
  background: vars.$main-bgcolor;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: vars.$main-font;
  font-size: 16px;
  font-weight: 400;
}
